---
layout: base.njk
---
<section class="hero">
  <div class="wrap">
    <h1>{{ title }}</h1>
    {% if description %}<p class="lead">{{ description }}</p>{% endif %}
  </div>
</section>
<section>
  <div class="wrap prose">
    {{ content | safe }}
  </div>
</section>
